.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 217px;
}
.search-form__form{
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-form__title{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 9px;
  border-bottom: 1px solid #424242;

}
.search-form__input{
  width: 100%;
  outline: none;
  height: 34px;
  background-color: #202020;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  color: #fff;
}

.search-form__button{
  cursor: pointer;
  background: #3456F3;
  border-radius: 48px;
  border: none;
  width: 58.65px;
  height: 34px;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.63;
  color: #fff;
}

.search-form__button:hover {
  opacity: 0.7;
}

.search-form__check{
  margin-top: 29px;
}