.portfolio {
  padding: 0 14px;
}

.portfolio__title {
  margin: 0 0 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: #A0A0A0;
}

.portfolio__projects {
  padding: 0;
  margin: 0;
}

.portfolio__project {
  list-style: none;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-bottom: 19px;
  border-bottom: 1px solid #E6E6E6;
  margin-bottom: 20px;
}

.portfolio__project:last-of-type {
  border: none;
}

.portfolio__name {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: -0.04em;
}

.portfolio__link{
  padding: 0;
  width: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.portfolio__pic{
  width: 100%;
  object-fit: contain;
}

@media screen and (min-width: 768px) {
  .portfolio {
    padding: 0 50px;
  }

  .portfolio__title {
    font-size: 18px;
    line-height: 1.11;
    margin-bottom: 50px;
  }

  .portfolio__name {
    font-size: 28px;
    line-height: 1.79;
  }

  .portfolio__link{
    width: 27px;
  }
}

@media screen and (min-width: 1280px) { 
  .portfolio {
    padding: 0 70px;
  }

  .portfolio__name {
    font-size: 30px;
    line-height: 1.67;
  }

  .portfolio__link{
    width: 29px;
  }

  .portfolio__project {
    border-bottom: 1px solid #424242;
  }
}